package {{.package}}

import (
	"github.com/goanywhere/env"
	"github.com/goanywhere/rex"
)

func index(ctx *rex.Context) {
	ctx.String("Thanks for using Rex")
}

func main() {
	env.Set("debug", "true")

	app := rex.New()
	app.Get("/", index)
	app.Serve()
}
