.page {
  .header {
    padding-bottom: 9px;
    border-bottom: 1px solid #e2e2e2;
  }
  background: white;
  margin: 0 0 20px 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.9);
  padding: 5px 20px 60px 20px;
  position: relative;
  overflow: hidden;
}
