{% extends "layouts/base.html" %}

{{ define "main" }}
<main class="row">
  <div class="page large-offset-1 large-10 columns">
    <h2 class="header rex-logo-font">{{ .echo }}</h2>

    <section>
      <h3>Community</h3>
      <ul>
        <li>Forum: <a href="https://groups.google.com/d/forum/go-rex">Project Rex</a></li>
        <li>Mailist: <a href="mailto:go-rex@googlegroups.com">Google</a></li>
        <li>Issues: <a href="https://github.com/goanywhere/rex/issues">Github</a></li>
      </ul>
    </section>

    <section>
      <h3>Contribution</h3>
      <ul>
        <li>Folk: <a href="https://github.com/goanywhere/rex/fork">Github</a></li>
      </ul>
    </section>

    <section>
      <h3>Documentations</h3>
      <ul>
        <li><a href="https://github.com/goanywhere/rex/wiki">Wiki</a></li>
      </ul>
    </section>
  </div>
</main>
{{ end }}
